@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition-timing-function: cubic-bezier(0, 0, .25, 1);
  transition-duration: 200ms;
  transition-property: all;
}

html {
  scrollbar-color: oklch(var(--p)) oklch(var(--n));
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: oklch(var(--n));
}
::-webkit-scrollbar-thumb {
  background-color: oklch(var(--p));
}

/* Typography (18px base size, 1.333 ratio) */
/* Headers were modified to match h6 == text-base */
h1 {
  @apply font-header;
  font-size: 4.209rem;
  line-height: 5.61rem;
};
h2 {
  @apply font-header;
  font-size: 3.157rem;
  line-height: 4.209rem;
}
h3 {
  @apply font-header;
  font-size: 2.369rem;
  line-height: 3.157rem;
}
h4 {
  @apply font-header;
  font-size: 1.777rem;
  line-height: 2.369rem;
}
h5 {
  @apply font-header;
  font-size: 1.333rem;
  line-height: 1.777rem;
}
h6 {
  @apply font-header;
  font-size: 1rem;
  line-height: 1.333rem;
}
body {
  @apply font-body;
  font-size: 1.133rem;
  line-height: 1.511rem;
}
a {
  @apply hover:text-gray-500;
  text-decoration: none;
}
small {
  font-size: 0.85rem;
  line-height: 1.133rem;
}
small.smaller {
  font-size: 0.638rem;
  line-height: 0.85rem;
}
strong {
  @apply font-important;
}
.btn {
  @apply font-important;
  font-size: inherit;
  line-height: inherit;
}

.logo-filter {
  filter: brightness(0) saturate(100%) invert(29%) sepia(88%) saturate(7477%) hue-rotate(252deg) brightness(90%) contrast(90%);
}