.text-gradient {
	background: linear-gradient(90deg, oklch(var(--p)) -25%, oklch(var(--s)) 125%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	text-shadow: none;
}
.text-rainbow {
	background: linear-gradient(
    90deg,
    rgba(95, 21, 242, 1) -10%,
    rgba(186, 12, 248, 1) 30%,
    rgba(251, 7, 217, 1) 70%,
    rgba(255, 0, 0, 1) 110%
  );
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	text-shadow: none;
}

/*#region Hero*/
#hero > * {
  z-index: 1;
}
#hero > .bg-grad {
  background: linear-gradient(180deg, oklch(var(--p)) 0%, transparent 100%);
  opacity: 25%;
}
#hero > img {
  width: 100%;
  animation: float 5s infinite;
}
#hero > div > h2 {
	font-size: 4.5vw;
	line-height: 6.3vw;
}
@media (min-width: 1024px) {
  #hero > img {
    width: 30vw;
    flex: 0.5 1 30vw;
  }
  #hero > div {
    flex: 0;
  }
  #hero > div > h2 {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
/*#endregion*/

/*#region Why*/
#why > .inner {
  transition: all 0.75s;
  transform: translateY(40%);
  opacity: 0;
}
#why > .inner.in-view {
  transform: translateY(0);
  opacity: 1;
}
#why > .inner > div {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#why > .inner > div > svg {
  @apply text-neutral;
  background-color: #883aaa;
  backdrop-filter: blur(8px);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 4.5em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#why > .inner > div > h4 {
  @apply text-secondary font-bold;
  filter: brightness(80%);
  font-size: 1.555rem;
  line-height: 2.073rem;
  white-space: nowrap;
  text-transform: uppercase;
}
#why > .inner > div > small {
  max-width: 75%;
}
/*#endregion*/

/*#region Features*/
/*#endregion*/

/*#region FAQ*/
/*#endregion*/